.background-image {
  position: absolute;
  box-sizing: border-box;
  width: 162.125rem;
  height: auto;
  display: block;
  margin-left: -67.5rem;
  top: -22rem;
  left: 50%;
  max-width: none;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.body-outer-wrapper {
  position: relative;
  margin-top: -5.75rem;
  padding-top: 12rem;
  padding-bottom: 4rem;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

.body-wrapper {
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 85rem;
  width: 100%;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  display: grid;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
