@font-face {
  font-family: 'Inter';
  src: url('../../public/Fonts/Inter/Inter-var.ttf'), format('trueType');
}

.footer-wrapper {
  width: 100%;
  height: 64vh;
}

.text-wrapper-rights {
  margin: 10px 0vw;
}
.footer-lower-section-wrapper {
  border-top: 0.74px solid rgb(194, 203, 214);
}
.contact-links-1 {
  width: 20px;
  height: 20px;
}

.contact-us-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 142px;
}

#contact-us {
  margin: 0px 0px 0px 0px;
}

#email-logo {
  margin: 0px 0px 0px 0px;
  width: 21px;
  height: 21px;
}

.index-wrapper,
.support-wrapper,
.help-wrapper {
  width: 50%;
}

.copyright-wrapper,
.terms-of-use-wrapper {
  font-size: 12px;
  font-weight: 300;
  color: rgb(15, 25, 25);
}

.copyright-wrapper,
.terms-of-use-wrapper,
.contact-us-wrapper {
  margin: 0;
}

.terms-of-use-wrapper > a {
  text-decoration: none;
  color: inherit;
  margin-right: 20px;
}

.index-wrapper,
.support-wrapper,
.help-wrapper {
  margin-bottom: 30px;
  margin-top: 0px;
}

.index-wrapper > p,
.support-wrapper > p,
.help-wrapper > p,
.contact-us {
  font-size: 13px;
  margin: 0;
  padding-bottom: 18px;
}

#mail-in {
  padding: 0px;
}

.headings {
  padding-bottom: 15px;
  font-size: 15px;
  font-weight: 600;
}
/* footer.show {
  transition-delay: 2000ms;
} */
@media (min-width: 768px) {
  .footer-wrapper {
    width: 100%;
    height: 64vh;
  }
  .headings {
    padding-bottom: 20px;
  }
  .index-wrapper,
  .support-wrapper,
  .help-wrapper {
    margin-bottom: 5px;
  }
}

@media (min-width: 1024px) {
  .footer-wrapper {
    width: 100%;
    height: 84vh;
  }

  .index-wrapper {
    width: 18%;
  }
  .support-wrapper,
  .help-wrapper {
    width: 20%;
  }
  .index-wrapper > p,
  .support-wrapper > p,
  .help-wrapper > p,
  .contact-us {
    padding-bottom: 22px;
    margin: 0;
  }
  .index-wrapper,
  .support-wrapper,
  .help-wrapper {
    margin-bottom: 0px;
  }
}

@media (max-width: 768px) {
  #top {
    border-bottom: 1px solid rgb(224, 228, 232);
  }
}
