.product-page-wrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
}

.outer-wrapper-products {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    margin: 30px;
    padding: 0px;
    box-sizing: border-box;
    background-color: lightgray;
    width: 300px;
    height: 400px;
    border-radius: 8px;
}