.logos-wrapper {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.link-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  padding: 0;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid rgb(136, 136, 136, 0.5);
  box-sizing: border-box;
  transition: border-color ease-out 0.5s;
  overflow: hidden;
  z-index: 1;
}

.social-logos {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border-radius: 30%;
}

.link-wrapper::after {
  position: absolute;
  height: 67px;
  width: 67px;
  top: 0;
  content: '';
  border-radius: 50%;
  background-color: rgba(187, 192, 191, 0.493);
  transition: transform 1s cubic-bezier(0.66, 0, 0.34, 1);
  transform: scale(100%) translateY(67px);
  z-index: -1;
}

.link-wrapper:hover::after {
  transform: scale(147%) translateY(0px);
}

@media (hover: hover) {
  .link-wrapper:hover {
    border-color: transparent;
  }
}
